<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905193157158-iqjfvl4gj2j6vg0v4dvj18r3rcplghmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905193157158-iqjfvl4gj2j6vg0v4dvj18r3rcplghmq</string>
	<key>API_KEY</key>
	<string>AIzaSyADn4rkAeQvd44qLHkssHHF0jAO7-SIGpA</string>
	<key>GCM_SENDER_ID</key>
	<string>905193157158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashchat.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchatdream</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatdream.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905193157158:ios:f0a948aa1d3e2d289b2ce7</string>
</dict>
</plist>